snippet im
public static void main(String [] args) {
	${0}
}
endsnippet

snippet ic
${1:public} class ${2:Test} {

	public static void main(String [] args) {
		${0}
	}
}
endsnippet

snippet logn
System.out.println(${0});
endsnippet

snippet log
System.out.print(${0});
endsnippet

snippet vi
${1:public} ${2:void} ${3};
endsnippet

snippet vd
${1:public} ${2:void} ${3} = new ${4:$2};
endsnippet

snippet fn
public ${1:static} ${2:int} ${3:fnName}(${4:arguments}) {
	${0}
}
endsnippet
