snippet #!
#!/usr/bin/env python
# -*- coding utf-8 -*-
endsnippet

snippet imp
import ${0:module}
endsnippet

snippet fi
for ${1:e} in ${2:line}:
	${0}
endsnippet

snippet fn
def ${1}:
	${0}
endsnippet

snippet log
print(${0})
endsnippet

snippet else
if ${1}:
	${2}
else:
	${3}
endsnippet
