snippet it "" i
\textit{${0}}
endsnippet

snippet bf "" i
\textbf{${0}}
endsnippet

snippet itm "" b
\begin{itemize}
	${0}
\end{itemize}
endsnippet

snippet sec "" b
\section{${1}}

${0}

endsnippet

snippet ssec "" b
\subsection{${1}}

${0}

endsnippet

snippet nl "" b
\newline

endsnippet

snippet np "" b
\newpage

endsnippet
